{
    "parser": "babel-eslint",
    "extends": [
        "standard"
    ],
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "globals": {
        "ENV": true,
        "FormData": true,
        "layer": true,
        "parent": true
    },
    "rules": {
        "arrow-parens": 0,
        "eol-last": ["warn", "never"],
        "no-multiple-empty-lines": [1, { "max": 2 }],
        "space-before-function-paren": ["error", "never"],
        "camelcase": [0, { "properties": "always" }],
        "no-unused-vars": 0,
        "indent": [2, 4, {
            "SwitchCase": 1
        }]
    }
}